* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.gift {
    color: #fff;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 3px;
    padding: 5px;
    margin-left: 530px;
}

 .img {
    margin: 200px auto;
    display: block;
    width: 50%;
    

}